/* https://www.youtube.com/watch?v=vRwa2wcJY0k - reference for blob animations */

:root {
    --prim: #ecded1;
    --prim2: #ecded18c;
    --prim3: #ecded141;
    --trans: #ffffff00;
    --sec: #ca9d77;
    --ter: #324231;
    --text: #cfd4a1;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: var(--text);
    font-family: "Century Gothic", "Arial Bold", Gadget, sans-serif;
    font-weight: 900;
    -webkit-text-stroke: 2px #3c643c;
}

body {
    background-image: url(images/PEOSC_prototypeWebsiteDesignBACKGROUND2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;

    display: flex;
    margin: 10px;
}

html, body {
    height: 100%;
    overflow: hidden;

    min-width: 800px; 
    min-height: 600px;

    overflow-x: auto;
    overflow-y: auto;
}

button {
    border: none;
    text-shadow: 2px 2px 4px var(--ter);
}

h1 {
    color: var(--prim);
    font-size: 40px;

    padding: 10px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;

    justify-content: center;
    align-items: center;
    isolation: isolate;

    text-shadow: 3px 2px 4px var(--ter);
}


.blob {
    position: absolute;
    filter: blur(0px);
    mix-blend-mode: screen;
    will-change: background;
    animation: 
        animate 6s ease-in-out infinite; 

    width: 20%;
    height: 12%;

    font-size: 200%;
    opacity: 0.7;

    border: solid;
    border-color: var(--prim);
    border-radius: 5px;

    box-shadow: 0px 0px 5px 2px #ffefd683;
    background: var(--prim);

    min-width: 40px; 
    min-height: 40px;
}

.blob-btn:hover {
    background-color: var(--prim);
    opacity: 1;
}


#blob-main {
    width: 55%;
    height: 80%;
    background: var(--prim);

    top: 5%;
    left: 5%;

    box-shadow: 0px 0px 15px 5px #ffefd683;
}

#blob-1 {
    top: 8%;
    left: 70%;

    animation-delay: -1s;
}

#blob-2 {
    top: 28%;
    left: 70%;

    animation-delay: -2.5s;
}

#blob-3 {
    top: 48%;
    left: 70%;

    animation-delay: -4s;
}

#blob-4 {
    top: 68%;
    left: 70%;

    animation-delay: -4.4s;
}

@keyframes animate {
    0%,
    20% {background: var(--prim2);}
    50% {background: var(--prim3); transform: scale(1.01);}
    100% {background: var(--prim2);}
}


#welcome {
    top: 10%;
    left: 80%;
}

.sch {
    position: absolute;

    border: solid;
    border-color: var(--prim);
    border-radius: 5px;

    box-shadow: 0px 0px 5px 2px #ffefd683;
    text-shadow: 0px 0px 4px var(--prim);
    
    background: var(--prim2);

    min-width: 40px; 
    min-height: 40px;
}

.lines {
    margin: 3px;
    border: 1px solid var(--prim);
    border-radius: 5px;
}


#times {
    top: 15px;
    left: 15px;

    padding: 5px;
    
    width: 80px;
    height: fit-content;
    text-align: center;

    font-size: 20px;
}

#small-times {
    padding: 5px;
    
    width: 80px;
    height: fit-content;
    text-align: center;

    font-size: 20px;
}


#dates {
    top: 15px;
    left: 115px;

    width: 85%;
    background: var(--prim3);

    height: fit-content;
}

.day-1{
    
}